<h2>
  <%= @book.title %><br>
  by <%= link_to @book.author.name, author_path(@book.author) %></h2>
<h4>Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h4>
<h4>Rating Average: <%= @book.rating_avg %></h4>
<% if !!@review_by_current_user %>
  <%= button_to "Edit your review", edit_review_path(@review_by_current_user), method: :get %>
<% elsif !!current_user %>
  <%= button_to "Review this book", "/books/#{@book.id}/reviews/new", method: :get %>
<% end %>

<div class="reviews">
  <h3>Reviews</h3>
  <% @book.reviews.each do |review| %>
    <div class="review">
      <%= render partial: 'reviews/review', locals: {review: review} %>
    </div>
  <% end %>

</div>
