<a href="#" class="js-pre" data-id="<%=@book.id%>">Previous Book</a> |
<a href="#" class="js-next" data-id="<%=@book.id%>">Next Book</a>
<h2 class="bookTitle"><%= @book.title %></h2>
<h2 class="bookAuthor">by <%= link_to @book.author.name, author_path(@book.author) %></h2>
<h4 class="bookGenre">Genre: <%= link_to @book.genre.name, genre_path(@book.genre) %></h4>
<h4 class="bookYearPublished">Published: <%= @book.year_published %></h4>
<h4 class="bookRatingAvg">Rating Average: <%= @book.rating_avg %></h4>

<div class="reviewAction">
  <% if !!@review_by_current_user %>
    <%= button_to "Edit your review", edit_review_path(@review_by_current_user), method: :get %>
  <% elsif logged_in? %>
    <%= button_to "Review this book", "/books/#{@book.id}/reviews/new", method: :get %>
  <% end %>
</div>

<div class="reviews">

</div>


<script type="text/javascript" charset="utf-8">
  updateView(parseInt($(".js-next").attr("data-id")));
  var bookCount;
  $.get("/books.json", function(data) { bookCount = data["books"].length; });

  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    updateView(nextId);
  });

  $(".js-pre").on("click", function() {
    var curId = parseInt($(".js-next").attr("data-id"));
    if (curId > 1) {
      var nextId = curId - 1;
      updateView(nextId);
    }

  });

  function updateView(nextId) {
    $.get("/books/" + nextId + ".json", function(data) {
      var book = data["book"];
      $(".bookTitle").text(book["title"]);
      $(".bookAuthor a").attr("href", "/authors/" + book["author"]["id"]).text(book["author"]["name"]);
      $(".bookGenre a").attr("href", "/genres/" + book["genre"]["id"]).text(book["genre"]["name"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", book["id"]);

      // show reviews
      $(".reviews").empty();
      if (book["reviews"].length === 0) {
        $(".reviews").html("No reviews...yet!");
      } else {
        $.each(book["reviews"], function(index, review) {
          $(".reviews").append('<div class="review">' +
            '<a href="/users/' + review["user"]["id"] + '">' + review["user"]["username"] + '</a>' +
            ' says, "' + review["content"] + '"' +
            ' (' + review["rating"] + '/5)</div>'
          );
        });
      }
    });
  }

</script>
