<!DOCTYPE html>
<html>
<head>
  <title>eWorm</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>
  <header>
    <h3>eWorm</h3>
    <%# render '/layouts/navigation' %>
    <%= render 'layouts/angular_nav' %>
  </header>

  <div id="main" class="main">
    <%# render '/layouts/messages' %>

    <%# yield %>

    <div ui-view></div ui-view>

  </div>

  <footer>
    <p>
      Crafted with beer by <%= link_to "HarlemSquirrel", 'http://harlemsquirrel.github.io/' %>
    </p>
  </footer>

</body>
</html>
